services:
    ubuntu.18.04:
        build: ubuntu.18.04
        image: docker.packages.octopushq.com/octopusdeploy/worker-tools:${BUILD_NUMBER?err}-ubuntu.18.04
        volumes:
          - ./ubuntu.18.04:/app
        working_dir: /app
        entrypoint: ["pwsh", "-file", "scripts/run-tests.ps1"]

    ubuntu.22.04:
        build: ubuntu.22.04
        image: docker.packages.octopushq.com/octopusdeploy/worker-tools:${BUILD_NUMBER?err}-ubuntu.22.04
        volumes:
          - ./ubuntu.22.04:/app
        working_dir: /app
        entrypoint: ["pwsh", "-file", "scripts/run-tests.ps1"]
  
    # Use a buildx build for x-plat build unlike the above
    ubuntu.24.04:
      image: docker.packages.octopushq.com/octopusdeploy/worker-tools:${BUILD_NUMBER?err}-ubuntu.24.04
      build:
        context: ./ubuntu.24.04
        platforms:
          - linux/amd64
          - linux/arm64
      volumes:
        - ./ubuntu.24.04:/app
      working_dir: /app
      entrypoint: ["pwsh", "-file", "scripts/run-tests.ps1"]

    windows.ltsc2019:
        build: windows.ltsc2019
        image: docker.packages.octopushq.com/octopusdeploy/worker-tools:${BUILD_NUMBER?err}-windows.ltsc2019
        volumes:
          - "./windows.ltsc2019:c:\\app"
        working_dir: "c:\\app"
        entrypoint: ["pwsh", "-file", "scripts/run-tests.ps1"]

    windows.ltsc2022:
        build: windows.ltsc2022
        image: docker.packages.octopushq.com/octopusdeploy/worker-tools:${BUILD_NUMBER?err}-windows.ltsc2022
        volumes:
          - "./windows.ltsc2022:c:\\app"
        working_dir: "c:\\app"
        entrypoint: ["pwsh", "-file", "scripts/run-tests.ps1"]
